# put this in /etc/systemd/system

[Unit]
Description=Journald to GELF (graylog) log relay service

[Service]
ExecStart=/usr/local/bin/journal2gelf -s gelf.service.consul -p 12201 -t
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
